# Build files
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Compiled binaries
*.o
*.obj
*.exe

# My Shit o___O
roadmap.txt